/* responsive */

@media screen and (max-width: 576px) {
  .nav-section {
    display: flex;
    flex-direction: column;
    width: calc(100%-0px);
    padding-left: 50px;
  }

  .Download-btn {
    margin: 5px;
  }
  .body-main-section,
  .head {
    padding: 0px;
    margin: 10px;
  }

  .b-text,
  .b-text-second {
    padding: 0px;
  }

  #second-b {
    display: flex;
    flex-direction: column-reverse;
  }
  .b,
  .current-body,
  .next-body,
  .footter {
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* margin: 20px; */
  }
  .current-terget,
  .next-terget,
  .footter {
    justify-content: center;
    align-items: center;
  }
  .b-text {
    width: 100%;
  }
  .-head {
    /* margin: -20px; */
    width: 100%;
  }
  #iframe {
    width: 250px;
    height: 200px;
    padding: 5px;
    margin: -30px;
  }
  #ct,
  #nt {
    width: 250px;
    height: 320px;
    padding: 10px;
  }
  #nt {
    display: flex;
    flex-direction: column;
  }
  .c-text {
    margin: -30px auto;
  }
  .support-section {
    width: calc(100%-0px);
    margin: 10px 25px;
  }

  input[type="text"] {
    width: 200px;
    height: 25px;
  }
  .footter {
    margin: 0;
  }
  .footter > h3 {
    padding: 0px 50px 0px 60px;
  }
}
